.user-image-size {
  height: 64px;
}
.navbar-size {
  width: 95%;
  margin: 0 auto;
}
.main-body {
  background-color: #f28487;
  color: white;
}
.materialboxed-image {
  margin: 0 auto;
  height: 400px;
}
.click-me-button {
  background-color: #ee6e73;
  margin-top: 50px;
  margin-bottom: 20px;
}
